<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= current_page.data.description %>" />
    <meta name="keywords" content="<%= current_page.data.keywords %>" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Andrea Mignolo : Executive Coach, Designer, Seeker</title>
    <meta property="og:title" content="<%= current_page.data.title %>" />
    <meta property="og:description" content="<%= current_page.data.description %>" />
    <meta property="og:url" content="<%= 'http://andreamignolo.com' + current_page.url %>" />
    <meta property="og:image" content="<%= 'http://andreamignolo.com/' + 'images/og/og-' + current_page.data.title + '.png' %>" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <%= stylesheet_link_tag "site" %>
  </head>
  <body class="<%= page_classes %>">

    <main>
      <%= yield %>
    </main>

  </body>
</html>
