---
title: Andrea (Andi) Mignolo
description: About Andrea Mignolo - coach, teacher, writer, seeker
keywords: the becoming, consciousness, emergence, essays, book recommendations, weird personal site, research, writing
---

<section>
  <div class="inner">
    <h1>Andrea Mignolo</h1>


    <hr/ >

    <h2>Andrea (aka Andi) is a coach, teacher, writer, and seeker interested in complexity, consciousness, emergence, and learning.</h2>

    <p>Looking for my professional site? Head on over to <%= link_to('METHOD & MATTER', 'https://methodandmatter.com') %>. This is my personal site which can get a little exploratory and weird :). </p>

    <hr />

    </div>
  </section>

  <section class="research">
    <div class="inner">

    <%= image_tag("becoming.jpg") %>
    <figcaption>Image courtesy of <%= link_to('The New York Public Library', 'https://unsplash.com/@nypl') %></figcaption>

    <p>In the 13th century, a technological revolution began.</p>

    <p>
      The introduction of Arabic numerals into Europe unleashed the power of abstract thought. Early innovations, like the codification of double-entry bookkeeping, enabled mathematical techniques for finance and commerce to go mainstream. Along with other tools like the compass, musical notation, and map-making, the ability to represent, model, manipulate, and control the world around us became not only possible, but amplified.
    </p>


    <p>
      The practical knowledge obtained through abstract representation allowed science and engineering to flourish, and also buffered humans from the direct impact of their actions through the mediating feedback loops of technology. After 800 years of assumed authority over the order of things, we have forgotten what it means to be direct participants in a living world, alongside our more-than-human kin.
    </p>

    <p>
      Jean Gebser calls the structure of consciousness that infused this time of abstract mental activity, the perspectival or mental structure, as seen in the wide spread adoption of the geometrical perspective in art. More specifically, the consciousness that emerges in the Renaissance (and continuous through to the present day) is a later phase of the mental structure, a deficient phase known as the rational structure of consciousness. As Cynthia Bourgeault writes, “[t]he same growing capacity for abstraction that makes possible the perception of proportion and depth also—by the same measure&mdash;increases our sense of separation. We stand more on the outside, our attention fixed on that hypothetical point on the horizon which organizes our canvas and maintains the illusion of depth within a flat plane.”
    </p>

    <p>
      Completely separated from the systems that support us, the rational structure of consciousness is deficient and decaying. The possiblity of a new structure is now emerging but not promised&mdash;that of the aperspectival or integral. For Gebser, structures of consciousness are not developmental, but phenomenological, experienced  by what he describes as “wakeful presence”. The aperspectival, containing all previous structures (mental, mythic, magic, archaic), becomes an intensified wakeful and participatory presence, liberating consciousness from the confines of perspectival worlding.
    </p>

    <p>
      We cannot utilize the tools of  perspectival consciousness to model or manipulate our way into the aperspectival structure. Instead, we must learn to attune differently&mdash;not as separate observers studying an object, but as embodied participants in a living world that is already speaking. I am interested in exploring practices of attunement that might help us recover our capacity for direct participation in the multi-species salon of ever-present becoming. Through sharing research-in-progress, field notes, practices, and emerging insights, I hope to contribute to conversations about how we might move beyond the limitations of perspectival consciousness and into new ways of becoming-with our more-than-human kin.
    </p>

    <hr />

    <h3>research statement</h3>

    <p>My research explores listening as an embodied practice of attunement through which humans might rediscover our place within the living world. Following Gebser’s analysis of perspectival consciousness as a force of “deworlding,” I investigate how deep listening practices&mdash;supported through somatic awareness, dialogue, and careful work with psychedelics&mdash;might contribute to the emergence of aperspectival consciousness. This work examines how humans, through sustained attention to local ecologies, dreamworlds, relationality, and fundamental consciousness, can become transversal intensifiers of sympoietic arrangements. The aim is not simply to engage with the more-than-human world, but to participate in a fundamental reworlding that transforms human consciousness and our mode of belonging within Earth’s living systems.</p>

    <hr />
    </div>
  </section>


  <section class="newsletter">
    <div class="inner">
      <div class="mini">
        <h4>the becoming</h4>
        <p>A joyfully irregular newsletter about listening, life, and books.</p>
        <%= partial "tb_form" %>
        <h5>previously:</h5>
          <% blog('the-becoming').articles.each do |article| %>
            <ul>
              <li><%= link_to article.data.title, article %> </li>
            </ul>
          <% end %>
      </div>
    </div>
  </section>
